/* !! MODIFIED JOSHWCOMEAU CSS MODERN RESET !! */
* {
  margin: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

* {
  font-family: Serif;
  font-size: 1.1em;
}
/* !! MODIFIED JOSHWCOMEAU CSS MODERN RESET !! */


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.5em;
}

header > nav > button {
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
}
header > nav > button:hover {
  background-color: #f1af1a;
}

body {
  background-color: white;
  line-height: 2em;
  padding: 0 4em 0 4em;
}

div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#content > h1 {
  margin: 1em;
  font-size: 1.5em;
}
div#content > p {
  margin: 0.5em;
  line-height: 1.5em;
  font-size: 1.2em;
}

img {
  max-width: 25%;
  height: auto;
}
